/*========================
        Google Font
=========================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/*========================
        Header Section
=========================*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
}
.brand-name h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.brand-name h3 a {
    text-decoration: none;
    color: #000;
}
.menu-icon {
    position: absolute;
    top: 3.30%;
    left: 10%;
    display: none;
}
.menu-icon a {
    color: #000;
    text-decoration: none;
}
.menu-icon a ion-icon {
    font-size: 34px;
    font-weight: 600;
}
.cart-icon {
    position: absolute;
    top: 3.30%;
    right: 10%;
    display: none;
}
.cart-icon a {
    color: #000;
    text-decoration: none;
}
.cart-icon a ion-icon {
    font-size: 34px;
    font-weight: 600;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-item ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav .nav-item ul li {
    list-style: none;
    margin-right: 20px;
}
nav .nav-item ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
nav .icon ion-icon {
    color: #000;
    font-size: 23px;
    margin-right: 10px;
}

/*========================
        Home Section
=========================*/
#home {
    padding: 90px 0;
}
#home .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.influencer-text-box h1 {
    font-size: 42px;
    font-weight: 700;
    color: #000;
    
}
.influencer-text-box h1 span {
    color: #fdcb6e;
}
.influencer-text-box p {
    margin: 20px 0 30px 0;
}
.influencer-text-box a {
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
}
.influencer-text-box .fas {
    color: #fff;
    font-size: 16px;
    margin-left: 3px;
    transition: .2s;
}
.influencer-text-box a:hover .fas {
    transform: translateX(5px);
}
.right-side-picture {
    text-align: right;
    position: relative;
}
.right-side-picture .circle {
    width: 60%;
}
.right-side-picture .camera {
    width: 55%;
    position: absolute;
    top: 5%;
    right: 3%;
}
/*===========================
    Feature Brand Section
=============================*/
#featured-brand {
    padding: 40px 0;
}
#featured-brand hr {
    margin: 30px 0;
    border: 1px solid #f8f8f8;
}
#featured-brand .row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 30px;
}
/*========================
    Products Collection
=========================*/
#products-collection {
    padding: 45px 0 90px 0;
}
#products-collection h2 {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
}
#products-collection .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-top: 45px;
}
.popular-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-basis: auto;
}
.popular-products img {
    width: 100%;
}
.popular-products h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}
.popular-products span {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.popular-products .rating ion-icon {
    color: #FB8200;
    font-size: 14px;
}
.popular-products .rating span {
    font-size: 14px;
    font-weight: 700;
}
.popular-products p {
    margin-top: 5px;
}
.see-more {
    text-align: right;
    margin-top: 45px;
}
.see-more a {
    text-decoration: none;
    color: #E02C6D;
    font-weight: 600;
}
.see-more a .fas {
    color: #E02C6D;
    margin-left: 3px;
    transition: .2s;
}
.see-more a:hover .fas {
    transform: translateX(5px);
}
/*========================
      Featured Products
=========================*/
#featured-product {
    padding: 90px 0;
}
#featured-product .row {
    display: grid;
    grid-template-columns: 500px 1fr;
}
.featured-product-info h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}
.featured-product-info a {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}
.featured-product-info a .fas {
    margin-left: 3px;
    transition: .2s;
}
.featured-product-info a:hover .fas {
    transform: translateX(5px);
}
/*========================
      Testimonial Section
=========================*/
#testimonial {
    padding: 90px 0;
}
#testimonial h2 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
#testimonial .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: .5s;
}
.testimonial-card .testimonial-image img {
    width: 60%;
}
.testimonial-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.testimonial-card .feedback blockquote {
    margin: 20px 0;
}
/*========================
      Footer Section
=========================*/
#footer {
    background-color: #0A0826;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.footer-text-box h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.social-icon {
    margin-top: 20px;
}
.social-icon a {
    text-decoration: none;
    background-color: #22213c;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    padding: 11px;
    margin-right: 10px;
}
.social-icon ion-icon {
    font-size: 23px; 
}
.social-icon a:hover ion-icon {
    transform: rotate(360deg);
    transition: ease .8s;
}

/*========================
      Media Query
=========================*/
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 60px;
    }
}
@media only screen and (max-width: 992px) {
    .influencer-text-box h1 {
        font-size: 36px;
    }
    .right-side-picture .circle {
        width: 80%;
    }
    .right-side-picture .camera {
        width: 75%;
    }
    #featured-brand .row {
        grid-column-gap: 15px;
    }
    #products-collection h2,
    .featured-product-info h2,
    #testimonial h2 {
        font-size: 30px;
    }
    .popular-products h3 {
        font-size: 24px;
    }
    .popular-products span {
        font-size: 20px;
    }
    .testimonial-card .testimonial-image img {
        width: 80%;
    }
    .footer-text-box h3 {
        font-size: 20px;
    }
    .footer-text-box span {
        font-size: 14px;
    }
    .social-icon ion-icon {
        font-size: 18px; 
    }
    .social-icon a {
        padding: 12px;
        height: 40px;
        width: 40px;
    }
    #featured-brand .row img {
        width: 90%;
    }
    #featured-brand .row img:nth-child(2),#featured-brand .row img:nth-child(5),#featured-brand .row img:nth-child(7) {
        margin-top: 20px;
    }
    #featured-brand .row img:nth-child(3),
    #featured-brand .row img:nth-child(4),
    #featured-brand .row img:nth-child(6) {
        margin-top: 15px;
    }
    
}
@media only screen and  (max-width: 768px) {
    #home,
    #featured-product,
    #testimonial,
    #products-collection {
        padding: 60px 0;
    }
    .navbar {
        justify-content: center;
    }
    .brand-name h3 {
        font-size: 24px;
    }
    .menu-icon,
    .cart-icon {
        display: block;
    }
    nav {
        display: none;
    }
    nav .nav-item ul li a,
    .influencer-text-box p,
    .influencer-text-box a,
    .influencer-text-box .fas,
    .popular-products p,
    .see-more a,
    .featured-product-info a,
    .featured-product-info p,
    .testimonial-card .feedback blockquote{
        font-size: 14px;
    }
    .influencer-text-box h1 {
        font-size: 32px;
    }
    #featured-brand {
        padding: 20px 0;
    }
    #products-collection h2,
    .featured-product-info h2,
    #testimonial h2 {
        font-size: 28px;
    }
    .popular-products h3 {
        font-size: 20px;
    }
    .popular-products span {
        font-size: 18px;
    }
    .testimonial-card {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .testimonial-card .testimonial-image img {
        width: 30%;
    }
    #home .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .right-side-picture {
        text-align: center;
        order: -1;
    }
    .right-side-picture .circle {
        width: 53%;
    }
    .right-side-picture .camera {
        width: 48%;
        right: 28%;
    }
    .influencer-text-box {
        text-align: center;
    }
    .influencer-text-box h1 {
        margin-top: 20px;
    }
    .influencer-text-box p {
        width: 65%;
        margin: 30px auto;
        text-align: center;
    }
    #products-collection .row {
        grid-template-columns: repeat(2, 1fr);
    }
    #featured-product {
        text-align: center;
    }
    #featured-product .row {
        grid-template-columns: 1fr;
    }
    .featured-product-picture img {
        width: 80%;
    }
    .featured-product-info h2 {
        margin: 20px 0;
    }
    .featured-product-info p {
        width: 75%;
        margin: auto;
    }
    #testimonial .row {
        display: grid;
        grid-template-columns: 1fr;

}
@media only screen and  (max-width: 480px) {
    .container {
        padding: 0 30px;
    }
    .brand-name h3 {
        font-size: 20px;
    }
    .menu-icon,
    .cart-icon {
        display: block;
    }
    .influencer-text-box h1 {
        font-size: 26px;
    }
    .influencer-text-box p {
        width: 80%;
    }
    .right-side-picture .circle {
        width: 83%;
    }
    .right-side-picture .camera {
        width: 78%;
        right: 13%;
    }
    #featured-brand .row {
        grid-template-columns: repeat(4, 1fr);
    }
    #featured-brand .row img {
        width: 100%;
    }
    #products-collection h2,
    .featured-product-info h2,
    #testimonial h2 {
        font-size: 23px;
    }
    #products-collection .row {
        grid-template-columns: 1fr;
    }  
}